html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-1 {
  float: left;
  width: 8.33333%;
}

.col-2 {
  float: left;
  width: 16.66667%;
}

.col-3 {
  float: left;
  width: 25%;
}

.col-4 {
  float: left;
  width: 33.33333%;
}

.col-5 {
  float: left;
  width: 41.66667%;
}

.col-6 {
  float: left;
  width: 50%;
}

.col-7 {
  float: left;
  width: 58.33333%;
}

.col-8 {
  float: left;
  width: 66.66667%;
}

.col-9 {
  float: left;
  width: 75%;
}

.col-10 {
  float: left;
  width: 83.33333%;
}

.col-11 {
  float: left;
  width: 91.66667%;
}

.col-12 {
  float: left;
  width: 100%;
}

.no-margin {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* BASE */
button,
.btn,
input[type='button'],
input[type='submit'] {
  display: inline-block;
  background-color: #4593b3;
  text-decoration: none;
  text-align: center;
  font-size: .9rem;
  color: #fff;
  border: 0.1rem solid #4593b3;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;
  line-height: 2.0rem;
  padding: 0 1.1rem;
  margin: 0.3rem;
  cursor: pointer;
  white-space: normal;
}

button:focus,
.btn:focus,
input[type='button']:focus,
input[type='submit']:focus {
  outline: 0;
}

button.error,
.btn.error,
input[type='button'].error,
input[type='submit'].error {
  background-color: #d23f51;
  border-color: #d23f51;
}

button.success,
.btn.success,
input[type='button'].success,
input[type='submit'].success {
  background-color: #5ca745;
  border-color: #5ca745;
}

button.border,
.btn.border,
input[type='button'].border,
input[type='submit'].border {
  background-color: transparent;
  border: 0.1rem solid #4593b3;
  color: #4593b3;
}

button.border.error,
.btn.border.error,
input[type='button'].border.error,
input[type='submit'].border.error {
  border-color: #d23f51;
  color: #d23f51;
}

button.border.success,
.btn.border.success,
input[type='button'].border.success,
input[type='submit'].border.success {
  border-color: #5ca745;
  color: #5ca745;
}

button.border-bottom,
.btn.border-bottom,
input[type='button'].border-bottom,
input[type='submit'].border-bottom {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 0.1rem solid #4593b3;
  color: #4593b3;
}

button.border-bottom.error,
.btn.border-bottom.error,
input[type='button'].border-bottom.error,
input[type='submit'].border-bottom.error {
  border-color: #d23f51;
  color: #d23f51;
}

button.border-bottom.success,
.btn.border-bottom.success,
input[type='button'].border-bottom.success,
input[type='submit'].border-bottom.success {
  border-color: #5ca745;
  color: #5ca745;
}

button.clear,
.btn.clear,
input[type='button'].clear,
input[type='submit'].clear {
  background-color: transparent;
  border-color: transparent;
  color: #4593b3;
}

button.clear.error,
.btn.clear.error,
input[type='button'].clear.error,
input[type='submit'].clear.error {
  color: #d23f51;
}

button.clear.success,
.btn.clear.success,
input[type='button'].clear.success,
input[type='submit'].clear.success {
  color: #5ca745;
}

button.rounded,
.btn.rounded,
input[type='button'].rounded,
input[type='submit'].rounded {
  border-radius: 10em;
}

button.rounded.error,
.btn.rounded.error,
input[type='button'].rounded.error,
input[type='submit'].rounded.error {
  border-color: #d23f51;
}

button.rounded.success,
.btn.rounded.success,
input[type='button'].rounded.success,
input[type='submit'].rounded.success {
  border-color: #5ca745;
}

button.border-rounded,
.btn.border-rounded,
input[type='button'].border-rounded,
input[type='submit'].border-rounded {
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  -ms-border-radius: 10em;
  -o-border-radius: 10em;
  border-radius: 10em;
  background-color: transparent;
  color: #4593b3;
}

button.border-rounded.error,
.btn.border-rounded.error,
input[type='button'].border-rounded.error,
input[type='submit'].border-rounded.error {
  border-color: #d23f51;
  color: #d23f51;
}

button.border-rounded.success,
.btn.border-rounded.success,
input[type='button'].border-rounded.success,
input[type='submit'].border-rounded.success {
  border-color: #5ca745;
  color: #5ca745;
}

button:hover,
.btn:hover,
input[type='button']:hover,
input[type='submit']:hover {
  text-decoration: underline;
}

button.small,
.btn.small,
input[type='button'].small,
input[type='submit'].small {
  line-height: 1.5rem;
  padding: 0 .6rem;
  font-size: 80%;
}

button.large,
.btn.large,
input[type='button'].large,
input[type='submit'].large {
  line-height: 2.6rem;
  padding: 0 1.6rem;
  font-size: 130%;
}

.badge {
  color: #fff;
  background-color: #a6a6a6;
  display: inline-block;
  padding: .3rem .5rem;
  font-size: 70%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  position: relative;
  top: -2px;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;
}

.badge.rounded {
  border-radius: 10em;
  padding: .3rem .7rem;
}

.badge.info {
  background-color: #4593b3;
}

.badge.success {
  background-color: #5ca745;
}

.badge.error {
  background-color: #d23f51;
}

.badge.white {
  background-color: #fff;
  color: #000;
}

blockquote,
.blockquote {
  background-color: #f2f2f2;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;
  color: #666666;
  text-align: justify;
  line-height: 1.2em;
  padding: 1.3rem;
  margin: 1rem;
}

blockquote.border-white,
.blockquote.border-white {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0.2rem solid #cccccc;
  background-color: transparent;
}

blockquote.border-white.info,
.blockquote.border-white.info {
  border-left: 0.2rem solid #4593b3;
}

blockquote.border-white.success,
.blockquote.border-white.success {
  border-left: 0.2rem solid #5ca745;
}

blockquote.border-white.error,
.blockquote.border-white.error {
  border-left: 0.2rem solid #d23f51;
}

blockquote.border,
.blockquote.border {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0.2rem solid #cccccc;
}

blockquote.border.info,
.blockquote.border.info {
  border-left: 0.2rem solid #4593b3;
}

blockquote.border.success,
.blockquote.border.success {
  border-left: 0.2rem solid #5ca745;
}

blockquote.border.error,
.blockquote.border.error {
  border-left: 0.2rem solid #d23f51;
}

blockquote.boxed,
.blockquote.boxed {
  background-color: transparent;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #d9d9d9;
  border-left: 0.2rem solid #737373;
}

blockquote.boxed.info,
.blockquote.boxed.info {
  border: 0.1rem solid #d5e7ef;
  border-left: 0.2rem solid #4593b3;
}

blockquote.boxed.success,
.blockquote.boxed.success {
  border: 0.1rem solid #d4ebcd;
  border-left: 0.2rem solid #5ca745;
}

blockquote.boxed.error,
.blockquote.boxed.error {
  border: 0.1rem solid #f9e4e7;
  border-left: 0.2rem solid #d23f51;
}

.alert {
  background-color: #f2f2f2;
  border: 0.1rem solid #bfbfbf;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;
  color: #8c8c8c;
  text-align: justify;
  line-height: 1rem;
  padding: 1rem;
  margin: 0.6rem;
}

.alert.info {
  background-color: #e8f2f6;
  border: 0.1rem solid #abc3cc;
  color: #4b6d7a;
}

.alert.error {
  background-color: #fef9f9;
  border: 0.1rem solid #dfb1b7;
  color: #9e404c;
}

.alert.success {
  background-color: #e4f2e0;
  border: 0.1rem solid #adc6a6;
  color: #527049;
}

.alert.white {
  background-color: #fff;
  border: 0.1rem solid #cccccc;
  color: #737373;
  background-color: transparent;
}

.alert.clear {
  background-color: transparent;
  border: none;
  color: textColor(#fff);
}

ul, ol, dl {
  list-style: circle inside;
  margin: 1rem;
}

ul.none, ol.none, dl.none {
  list-style: none;
}

ul.border, ol.border, dl.border {
  list-style: none;
  border-left: 0.2rem solid #f2f2f2;
  padding-left: 0.5rem;
}

ul.border.error, ol.border.error, dl.border.error {
  border-left: 0.2rem solid #d23f51;
}

ul.border.success, ol.border.success, dl.border.success {
  border-left: 0.2rem solid #5ca745;
}

ul.border.info, ol.border.info, dl.border.info {
  border-left: 0.2rem solid #4593b3;
}

ul.boxed, ol.boxed, dl.boxed {
  list-style: none;
  border: 0.1rem solid #d9d9d9;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;
}

ul.boxed li, ul.boxed dt, ul.boxed dd, ol.boxed li, ol.boxed dt, ol.boxed dd, dl.boxed li, dl.boxed dt, dl.boxed dd {
  padding: 0.7rem;
  margin: 0;
  border-bottom: 0.1rem solid #d9d9d9;
}

ul.boxed li:last-of-type, ol.boxed li:last-of-type, dl.boxed li:last-of-type {
  border: none;
}

ul li, ul dt, ul dd, ol li, ol dt, ol dd, dl li, dl dt, dl dd {
  margin-bottom: 0.4em;
}

ul li.active, ul dt.active, ul dd.active, ol li.active, ol dt.active, ol dd.active, dl li.active, dl dt.active, dl dd.active {
  background-color: #4593b3;
  color: white;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;
  padding: 0.7rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.6rem;
}

h1.highlighted, h2.highlighted, h3.highlighted, h4.highlighted, h5.highlighted, h6.highlighted {
  border-bottom: 0.2rem solid #cccccc;
  padding-bottom: 10px;
}

h1.highlighted.error, h2.highlighted.error, h3.highlighted.error, h4.highlighted.error, h5.highlighted.error, h6.highlighted.error {
  border-bottom: 0.2rem solid #d23f51;
}

h1.highlighted.success, h2.highlighted.success, h3.highlighted.success, h4.highlighted.success, h5.highlighted.success, h6.highlighted.success {
  border-bottom: 0.2rem solid #5ca745;
}

h1.highlighted.info, h2.highlighted.info, h3.highlighted.info, h4.highlighted.info, h5.highlighted.info, h6.highlighted.info {
  border-bottom: 0.2rem solid #4593b3;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3.0rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.0rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.0rem;
}

form {
  margin: 1rem;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='color'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='datetime'],
input[type='range'],
input[type='datetime-local'],
input:not([type]),
textarea,
select {
  display: block;
  width: 100%;
  height: 2.5rem;
  appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d9d9d9;
  color: #404040;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  box-shadow: none;
  font-size: 1rem;
  padding: .6rem .8rem;
  margin-bottom: 1.1rem;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='color']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='datetime']:focus,
input[type='range']:focus,
input[type='datetime-local']:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  outline: 0;
  border: 0.1rem solid #8c8c8c;
}

input[type='email']:disabled,
input[type='number']:disabled,
input[type='password']:disabled,
input[type='search']:disabled,
input[type='tel']:disabled,
input[type='text']:disabled,
input[type='url']:disabled,
input[type='color']:disabled,
input[type='date']:disabled,
input[type='month']:disabled,
input[type='week']:disabled,
input[type='datetime']:disabled,
input[type='range']:disabled,
input[type='datetime-local']:disabled,
input:not([type]):disabled,
textarea:disabled,
select:disabled {
  background-color: #f2f2f2;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

textarea {
  min-height: 6rem;
}

label,
legend {
  display: inline-block;
  margin-bottom: .5rem;
  font-size: 1rem;
}

table {
  width: 100%;
  border-spacing: 0;
  margin: 1rem;
}

table.boxed {
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #d9d9d9;
}

tr.title td,
tr.title th {
  font-weight: bold;
  border-bottom: 0.2rem solid #d9d9d9;
}

tr.fill {
  background-color: whitesmoke;
}

tr.disabled td,
tr.disabled th {
  background-color: gray;
}

tr td,
tr th {
  border-bottom: 0.1rem solid #d9d9d9;
  padding: 1.0rem;
  text-align: left;
}

.progress {
  width: 100%;
  height: 1.2rem;
  display: flex;
  background-color: #f2f2f2;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;
  overflow: hidden;
  text-align: center;
  margin: 1rem;
}

.progress .progress-fill {
  height: 1.2rem;
  background-color: #a6a6a6;
  white-space: nowrap;
  font-size: .75rem;
  text-align: center;
  line-height: 1.2rem;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.progress .progress-fill.info {
  background-color: #4593b3;
}

.progress .progress-fill.success {
  background-color: #5ca745;
}

.progress .progress-fill.error {
  background-color: #d23f51;
}

.progress .progress-fill.striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.progress .progress-fill.rounded {
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  clear: both;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.shadow {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

a {
  color: #4593b3;
}
