@mixin alertBackground($pAlertColorAlert){
	background-color: $pAlertColorAlert;
	color: #fff;
}

@mixin alertTextColor($pAlertTextColor){
	color: darken($pAlertTextColor, 30%)
}

.ms-alert{
	background-color: $color-gray-dark;
	@include border-radius;
	@include box-sizing(border-box);
	color: #fff;
	text-align:justify;
	line-height: 1.3rem;
	padding: 1rem 1.25rem;
	margin: 0.5rem;

	h1,h2,h3,h4,h5,h6{
		clear: both;
		margin: 4px 0 15px 0;
	}

	a{
		color: #fff;
	}

	.colored{
		color: black;
	}

	&.ms-blue{
		@include alertBackground($color-blue);

		.colored{
			@include alertTextColor($color-blue);
		}

	}

	&.ms-red{
		@include alertBackground($color_red);

		.colored{
			@include alertTextColor($color_red);
		}
	}

	&.ms-green{
		@include alertBackground($color_green);

		.colored{
			@include alertTextColor($color_green);
		}
	}

	&.ms-yellow{
		@include alertBackground($color_yellow);
		color: $color-blue-dark;

		.colored{
			@include alertTextColor($color_yellow);
		}
	}

	&.ms-white{
		background-color: transparent;
		border: 1px solid $color-gray-dark;
		color: #000;

		a{
			color: #000;
		}
	}

	&.ms-clear{
		background-color: transparent;
		border: none;
		color: #000;

		a{
			color: #000;
		}
	}

	&.ms-small{
		padding: 0.75rem 1.25rem;
	}

	&.ms-large{
		padding: 1.75rem 2rem;
	}
}
