/* MIXIN */
@mixin alert($textColor,$primaryColor,$secondColor){
    color: $textColor;
    background-color: tint($primaryColor, 5);
    border-color: transparent;
    
    .ms-close{
        &:before, &:after {
            background-color: #ffffff;
        }
    }

    hr{
        background-color: tint($primaryColor, 25);
    }

    h1,h2,h3,h4,h5,h6{
        color: $textColor;
    }
}

@mixin alert-outline($textColor,$primaryColor,$percentage){
    color: $textColor;
    background-color: tint($primaryColor, $percentage);
    border: 1px solid tint($primaryColor, 80);
    
    .ms-close{
        &:before, &:after {
            background-color: $textColor;
        }
    }

    hr{
        background-color: tint($primaryColor, 80);
    }

    h1,h2,h3,h4,h5,h6{
        color: $textColor;
    }
}

/* BASE */
.ms-alert{
    width: 100%;
    height: auto;
    color: $color-gray-3;
    border: 1px solid $color-gray-1;
    font-size: 1rem;
    position: relative;
    margin-bottom: 1rem;
    padding: 0.8rem;
    @include border-radius($default-border-radius);
    
    /* COLORS */
    &.ms-info{
        @include alert(#ffffff,$color-blue-1,$color-blue-2);
    }
    
    &.ms-outline-info{
        @include alert-outline(shade($color-blue-3,30),$color-blue-1,95);
    }
    
    &.ms-danger{
        @include alert(#ffffff,$color-red-1,$color-red-3);
    }
    
    &.ms-outline-danger{
        @include alert-outline(shade($color-red-3,30),$color-red-1,95);
    }
    
    &.ms-success{
        @include alert(#ffffff,$color-green-1,$color-green-3);
    }
    
    &.ms-outline-success{
        @include alert-outline(shade($color-green-3,30),$color-green-1,95);
    }
    
    &.ms-warning{
        @include alert(#000000,$color-yellow-1,$color-yellow-3);
    }
    
    &.ms-outline-warning{
        @include alert-outline(shade($color-yellow-3,35),$color-yellow-1,95);
    }

    /* CLOSE ICON */
    .ms-close{
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        text-align: center;
        
        &:before, &:after {
            position: absolute;
            left: 9px;
            top: 5px;
            content: ' ';
            height: 10px;
            width: 2px;
            background-color: $color-gray-3;
        }
        
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }

        &:hover{
            background-color: rgba(0,0,0,0.1);
            @include border-radius(4px);
        }

        &:active{
            background-color: rgba(0,0,0,0.2);
            @include border-radius(4px);
        }
    }

    &.ms-content{        
        h1,h2,h3,h4,h5,h6{
            margin: 0 0 0.3rem 0;
        }

        p{
            line-height: 1.5rem;
            margin: 0 0 0.3rem 0;
        }

        hr{
            margin: 0.8rem 0;
        }
    }

    /* SIZES */
    &.ms-medium{
        padding: 1.4rem 1.2rem;
        font-size: 1.2rem;
    }

    &.ms-large{
        padding: 1.7rem 1.2rem;
        font-size: 1.4rem;
    }
}