$bg-color-alert: #f2f2f2;
$color_error-alert : lighten($color_error, 40%);
$color_success-alert : lighten($color_success, 40%);
$color-info-alert : lighten($color-info, 40%);

@function borderColorAlert($pBorderColorAlert){
	@return desaturate(darken($pBorderColorAlert,20%), 20%)
}

@function textColorAlert($pTextColorAlert){
	@return desaturate(darken($pTextColorAlert,60%), 20%)
}

@mixin colorAlert($pAlertColorAlert){
	background-color: $pAlertColorAlert;
	border: 1px solid borderColorAlert($pAlertColorAlert);
	color: textColorAlert($pAlertColorAlert);
}

.ms-alert{
	background-color: $bg-color-alert;
	border: 1px solid borderColorAlert($bg-color-alert);
	@include border-radius;
	color: darken( $bg-color-alert, 40%);
	text-align:justify;
	line-height: 1rem;
	padding: 1rem;
	margin: 0.6rem;

	&.ms-blue{
		@include colorAlert($color-info-alert);
	}

	&.ms-red{
		@include colorAlert($color_error-alert);
	}

	&.ms-green{
		@include colorAlert($color_success-alert);
	}

	&.ms-white{
		@include colorAlert(#fff);
		background-color: transparent;
	}

	&.ms-clear{
		background-color: transparent;
		border: none;
		color: textColor(#fff);
	}

	&.ms-small{
		line-height: 0.7rem;
		padding: 0.7rem;
	}

	&.ms-large{
		line-height: 1.3rem;
		padding: 1.3rem;
	}
}