.ms-badge{
	color: #fff;
	background-color: $color-gray-dark;
	display: inline-block;
	padding: .3rem .5rem;
	font-size: 70%;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	position: relative;
	top: -2px;
	@include border-radius;

	&.ms-rounded{
		border-radius: 10em;
		padding: .3rem .7rem;
	}

	&.ms-blue{
		background-color: $color-info;
	}

	&.ms-green{
		background-color: $color-success;
	}

	&.ms-red{
		background-color: $color-error;
	}

	&.ms-white{
		background-color: #fff;
		color: #000;

	}
}