@mixin badgeBgColor($pbadgeBgColor){
	background-color: $pbadgeBgColor;
}

@mixin badgeBorderColor($pbadgeBorderColor){
	border: 1px solid $pbadgeBorderColor;
	background: transparent;
	color: $pbadgeBorderColor;
}

@mixin badgeColor(){
	&.ms-blue{
		background-color: $color-blue;
	}

	&.ms-red{
		background-color: $color-red;
	}

	&.ms-green{
		background-color: $color-green;
	}

	&.ms-yellow{
		background-color: $color-yellow;
		color: #263238;
	}

	&.ms-gradient{
		@include background-image(linear-gradient(to left top, #2193b0, #6dd5ed));
	}

	&.ms-white{
		@include badgeBgColor($color-gray-medium);
		color: #000;
	}
}

.ms-notification{
	height: 25px;
  	width: 25px;
	color: #fff;
	background-color: $color-gray-dark;
	display: inline-block;
	font-size: 1rem;
	line-height: 25px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	@include border-radius(100%);

	@include badgeColor();

	&.ms-small{
		height: 20px;
  		width: 20px;
  		line-height: 20px;
  		font-size: .7rem;
	}

	&.ms-large{
		height: 35px;
  		width: 35px;
  		line-height: 35px;
  		font-size: 1.3rem;
	}
}

.ms-badge-gh{
	background-color: $color-gray-font;
	display:inline-block;
	overflow: hidden;
	@include border-radius;
	

	.ms-dark-side{
		float:left;
		color: #fff;
		font-size: 0.7rem;
		padding: 0.3rem 0.5rem;
	}

	.ms-color-side{
		background-color: $color-gray-dark;
		float:left;
		color: #fff;
		font-size: 0.7rem;
		padding: 0.3rem 0.5rem;
		
		@include badgeColor();
	}
}

.ms-badge{
	background-color: $color-gray-font;
	color: #fff;
	display:inline-block;
	overflow: hidden;
	@include border-radius;
	padding: 0.6rem 0.8rem;

	@include badgeColor();

	&.ms-rounded{
		border-radius: 10rem;
	}

	&.ms-border{
		&.ms-blue{
			@include badgeBorderColor($color-info);
		}

		&.ms-green{
			@include badgeBorderColor($color-success);
		}

		&.ms-red{
			@include badgeBorderColor($color-error);
		}

		&.ms-yellow{
			@include badgeBorderColor($color-yellow);
			color: #263238;
		}

		&.ms-white{
			@include badgeBorderColor($color-gray-medium);
			color: #000;
		}
	}

	&.ms-small{
		padding: 0.3rem 0.5rem;
		font-size: 0.8rem;
	}
	&.ms-large{
		padding: 0.9rem 1.1rem;
		font-size: 1.2rem;
	}

}

a.ms-badge{
	text-decoration: none;
}