$bg-color-block: #f2f2f2;

@mixin borderColorBlock($pBorderColorBlock){
	border-left: 2px solid $pBorderColorBlock;
}

@mixin borderColorBlockBoxed($pBorderColorBlockBoxed){
	border: 1px solid $pBorderColorBlockBoxed;
	border-left: 3px solid $pBorderColorBlockBoxed;
}

@mixin colorBlock(){
	@include border-left-radius(0);
	@include borderColorBlock(darken($bg-color-block, 15%));

	&.ms-blue{
		@include borderColorBlock($color-info);
	}
	
	&.ms-green{
		@include borderColorBlock($color_success);
	}

	&.ms-red{
		@include borderColorBlock($color_error);
	}
}

@mixin colorBlockBoxed(){
	background-color: transparent;
	@include border-radius;
	@include borderColorBlockBoxed(darken($bg-color-block, 50%));

	&.ms-blue{
		@include borderColorBlockBoxed($color-info);
	}
	
	&.ms-green{
		@include borderColorBlockBoxed($color_success);
	}

	&.ms-red{
		@include borderColorBlockBoxed($color_error);
	}
}

blockquote,
.ms-blockquote{
	background-color: $bg-color-block;
	@include border-radius;
	color: darken( $bg-color-block, 55%);
	text-align:justify;
	line-height: 1.2em;
	padding: 1.3rem;
	margin: 1rem;

	&.ms-border-white{
		@include colorBlock();
		background-color: transparent;
	}

	&.ms-border{
		@include colorBlock();
	}

	&.ms-boxed{
		@include colorBlockBoxed();
	}
}