@mixin blockquoteColor($pBlockquoteColor){
	border-left:5px solid $pBlockquoteColor;
	background-color: lighten($pBlockquoteColor, 40%);
	color: darken( $pBlockquoteColor, 55%);
}

@mixin blockquoteLinkcolor($pBlockquoteLinkcolor){
	color: $pBlockquoteLinkcolor;
}

blockquote,
.ms-blockquote{
	
	@include border-radius;
	@include blockquoteColor($color-gray);
	background-color: $color-gray;
	border-left:5px solid $color-gray-dark;
	text-align:justify;
	font-style: italic;
	line-height: 1.3em;
	padding: 1.25rem;
	margin: 0.5rem;

	a{
		color: black;
	}

	h1,h2,h3,h4,h5,h6{
		clear: both;
		margin: 4px 0 15px 0;
	}

	&.ms-blue{
		@include blockquoteColor($color-blue);

		a{
			@include blockquoteLinkcolor($color-blue);
		}
	}

	&.ms-red{
		@include blockquoteColor($color-red);

		a{
			@include blockquoteLinkcolor($color-red);
		}
	}

	&.ms-green{
		@include blockquoteColor($color-green);

		a{
			@include blockquoteLinkcolor($color-green);
		}
	}

	&.ms-yellow{
		@include blockquoteColor($color-yellow);

		a{
			@include blockquoteLinkcolor($color-yellow);
		}
	}

	&.ms-white{
		background-color: transparent;
	}
}