.ms-box{
	@include border-radius;
	border: 1px solid $color-gray-medium;
	margin: 0.5rem;

	.ms-header{
		border-bottom: 1px solid $color-gray-medium;
		padding: 0.8rem 1rem;
		background-color: $color-gray;
	}

	&.ms-boxed-none{
		border: none;
	}

	.ms-content{
		padding: 1rem;

		.ms-text{
			p{
				line-height: 1.3rem;
			}
		}

		.ms-title{
			margin-bottom: 1rem;

			h1,h2,h3,h4,h5,h6{
				padding: 0;
				margin: 0;
			}
		}
	}
}
