.ms-box{
	@include border-radius;
	margin: 0.5rem;

	&.ms-boxed{
		border: 1px solid $color-gray-medium;
	}

	.ms-header{
		border-bottom: 1px solid $color-gray-medium;
		padding: 0.5rem 1rem;
	}

	.ms-content{
		padding: 1rem;

		.ms-text{
			p{
				line-height: 1.3rem;
			}
		}

		.ms-title{
			margin-bottom: 1rem;

			h1,h2,h3,h4,h5,h6{
				padding: 0;
				margin: 0;
			}
		}
	}
}
