/* VARIABLES */
html{
	--breadcrumb-bg: $default-bg-darker;
	--breadcrumb-font-color: $default-font-color;
	--breadcrumb-border-color: $color-gray-1;
}

html[data-theme='dark'] {
	--breadcrumb-bg: $default-bg-dark;
	--breadcrumb-font-color: $default-font-color-dark;
	--breadcrumb-border-color: $color-gray-3;
}

/* BASE */
.ms-breadcrumb{
	ul{
		list-style: none;
		margin: 0;

		li{
			color: var(--breadcrumb-font-color);
			list-style: none;
			display: inline-block;
			margin: 0 0 0 0.5rem;

			&:after{
				content: "/";
				padding-left: 0.5rem;
			}

			&:last-child:after{
				content: "";
			}

			&:first-child{
				margin-left: 0;
			}
		}
	}

	/* BACKGROUND */
	&.ms-background{
		width: 100%;
		background-color: var(--breadcrumb-bg);
		padding: 1rem;
		@include border-radius($default-border-radius);
	}

	/* BORDER */
	&.ms-border{
		width: 100%;
		border-bottom: 1px solid var(--breadcrumb-border-color);
		padding: 1rem;
	}
}
