/* BASE */
button, 
.ms-btn, 
input[type='button'], 
input[type='submit']{
	 display: inline-block;
	 background-color: $color-gray-medium;
	 text-decoration: none;
   text-align: center;
   font-size: .9rem;
   white-space:nowrap;
   color: #000;
   border: 1px solid $color-gray-medium;
   @include border-radius;
   line-height: 2.0rem;
   padding: 0 1.1rem;
   margin: 0.2rem;
   cursor: pointer;

  &:focus{
    outline: 0;
  }

  &.ms-red{
    background-color: $color_error;
    border-color: $color_error;
    color: #fff;
  }

  &.ms-green{
    background-color: $color_success;
    border-color: $color_success;
    color: #fff;
  }

  &.ms-blue{
    background-color: $color_info;
    border-color: $color_info;
    color: #fff;
  }

  &.ms-gradient{
    padding: 0 1.3rem;
    line-height: 2.2rem;
    @include background-image(linear-gradient(to left top, #fd8157, #eb5a82));
    border: none;
    color: #fff;
  }

  &.ms-border{
    background-color: transparent;
    border: 1px solid $color-gray-medium;
    color: #000;

    &.ms-red{
      border-color: $color_error;
      color: $color_error;
    }

    &.ms-green{
      border-color: $color_success;
      color: $color_success;
    }

    &.ms-blue{
      border-color: $color_info;
      color: $color_info;
    }

    &.ms-gradient{
      color: #fff;
    }
  }

  &.ms-border-bottom{
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 0.1rem solid $color-gray-medium;
    color: #000;

    &.ms-red{
      border-color: $color_error;
      color: $color_error;
    }

    &.ms-green{
      border-color: $color_success;
      color: $color_success;
    }

    &.ms-blue{
      border-color: $color_info;
      color: $color_info;
    }

    &.ms-gradient{
      color: #fff;
    }
  }


  &.ms-clear{
    background-color: transparent;
    border-color: transparent;
    color: #000;

    &.ms-red{
      color: $color_error;
    }

    &.ms-green{
      color: $color_success;
    }

    &.ms-blue{
      color: $color_info;
    }

    &.ms-gradient{
      color: #fff;
    }
  }


  &.ms-rounded{
    border-radius: 10em;

    &.ms-red{
      border-color: $color_error;
    }

    &.ms-green{
      border-color: $color_success;
    }

    &.ms-blue{
      border-color: $color_info;
    }

    &.ms-gradient{
      color: #fff;
    }
  }


  &.ms-border-rounded{
    @include border-radius(10em);
    background-color: transparent;
    color: #000;

    &.ms-red{
      border-color: $color_error;
      color: $color_error;
    }

    &.ms-blue{
      border-color: $color_info;
      color: $color_info;
    }

    &.ms-green{
      border-color: $color_success;
      color: $color_success;
    }

    &.ms-gradient{
      color: #fff;
    }
  }
  

  &:hover{
    text-decoration: underline;
  }

  &.ms-small{
    line-height: 1.5rem;
    padding: 0 .6rem;
    font-size: 80%;
  }

  &.ms-large{
    line-height: 2.6rem;
    padding: 0 1.6rem;
    font-size: 120%;
  }

  &.ms-block{
    display: block;
    width: 100%;
  }
}