@mixin cardElementPosition(){
	&.ms-center{
		text-align: center;
	}

	&.ms-right{
		float: right;
	}

	&.ms-left{
		float: left;
	}
}

@mixin cardTextPosition(){
	&.ms-center{
		text-align: center;
	}

	&.ms-right{
		text-align: right;
	}

	&.ms-left{
		text-align: left;
	}
}

.ms-card{

	margin-bottom: 1rem;

	.ms-pic{
		img{
			display: block;
			margin: 0 auto;
			max-width: 100%;
		}

		p{
			text-align:center;
		}

		&.ms-rounded{
			border-radius: $default-border-radius;
			overflow: hidden;
		}
	}

	.ms-title{
		margin: 1rem 0 0 0;
		@include cardTextPosition();
	}

	.ms-text{
		margin: 1rem 0 0 0;
		text-align: justify;
		line-height: 1.2em;
		@include cardTextPosition();
	}

	.ms-action{
		margin: 1rem 0 0 0;
		@include cardElementPosition();
	}

	&.ms-boxed{
		@include border-radius;
		border: 1px solid lighten($color-gray-dark, 20%);
		padding: 0.7rem;
	}
}