/* Last color name */
$color-info: #1dabe7;
$color_error: #cb3030;
$color_success: #5ca745;

/* New color name */
$color-blue: #1dabe7;
$color-blue-dark: #263238;
$color_red: #e04540;
$color_green: #5ca745;
$color-yellow: #ffc748;
$color-gray: #f2f2f2;
$color-gray-dark: #adb5bd;
$color-gray-medium: darken($color-gray, 10%);
$color-gray-font: #696B6C;


/* ############### NEW ############### */
$color-gray-0: #f6f6f6;
$color-gray-1: #e1e1e1;
$color-gray-2: #b1b1b1;
$color-gray-3: #484848;

$color-blue-1: #219ced;
$color-blue-2: shade($color-blue-1, 7);
$color-blue-3: shade($color-blue-2, 7);

$color-red-1: #e04540;
$color-red-2: shade($color-red-1, 7);
$color-red-3: shade($color-red-2, 7);

$color-green-1: #3ab656;
$color-green-2: shade($color-green-1, 7);
$color-green-3: shade($color-green-2, 7);

$color-yellow-1: #f9bf10;
$color-yellow-2: shade($color-yellow-1, 7);
$color-yellow-3: shade($color-yellow-2, 7);