/* VARIABLES */
html{
  --dropdown-bg: $default-bg;
  --dropdown-bg-hover: $color-gray-0;
  --dropdown-font-color: $default-font-color;
  --dropdown-border-color: $color-gray-1;
}

html[data-theme='dark'] {
  --dropdown-bg: $default-bg-dark;
  --dropdown-bg-hover: $default-bg-dark-lighter;
  --dropdown-font-color: $default-font-color-dark;
  --dropdown-border-color: $color-gray-3;
}

/* BASE */
.ms-dropdown{
	z-index: 999;
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;

	button, 
	.ms-btn, 
	input[type='button'], 
	input[type='submit']{
		margin-bottom: 0;
	}

		&:hover .ms-dropdown-content, .ms-dropdown-content:focus{
			display: block;
		}

		.ms-dropdown-content{
			display: none;
			height: 0.3rem;
			width: 100%;
			position: absolute;
			left: 0;
			top: 100%;

			.ms-dropdown-content-list{
				min-width: 7rem;
				position: absolute;
				left: 0;
				top: 100%;
				background-color: var(--dropdown-bg);
				border: 1px solid var(--dropdown-border-color);
				margin: 0;
				padding: 0.5rem;
				@include border-radius($default-border-radius);

				li{
					list-style: none;
					margin: 0;
					padding: 0;

					a{
						font-size: 0.9rem;
						color: var(--dropdown-font-color);
						display: block;
						margin: 0;
						padding: 0.2rem 0.5rem;

						&:hover{
							background-color: var(--dropdown-bg-hover);
							@include border-radius($default-border-radius);
						}
					}
				}
			}
		}
	}