/* MIXIN */
@mixin input($primaryColor){
	border: 1px solid $primaryColor;
	
	&:focus {
		@include box-shadow($primaryColor 0 0 5px);
	}
}

/* BASE */
.ms-form-group{
	label, .label{
		display: inline-block;
		margin-bottom: .5rem;
		font-size: 1rem;
	}
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='color'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='datetime'],
input[type='range'],
input[type='datetime-local'],
input:not([type]),
textarea,
select{
	display: block;
	width: 100%;
	height: 2.3rem;
	appearance: none;
	background-color: transparent;
	border: 1px solid $color-gray-1;
	font-size: 1rem;
	box-shadow: none;
	margin-bottom: 1rem;
	padding: 0.4rem 0.8rem;
	@include box-sizing(border-box);
	@include border-radius(4px);
	
	/* COLORS */
	&.ms-info{
		@include input($color-blue-1);
	}
	
	&.ms-success{
		@include input($color-green-1);
	}
	
	&.ms-danger{
		@include input($color-red-1);
	}
	
	&.ms-warning{
		@include input($color-yellow-1);
	}
	
	/* GLOBAL */
	&.ms-rounded{
		@include border-radius(100px);
	}

	/* SIZES */
	&.ms-small{
		height: 1.8rem;
	  }
	  
	  &.ms-medium{
		height: 2.7rem;
	  }
	  
	  &.ms-large{
		height: 3.2rem;
	  }
	
	/* EVENTS */
	&:focus {
		outline:0;
		@include box-shadow(rgba(black, 0.2) 0 0 5px);
	}
}

textarea{
	height: inherit;
}