@mixin formBorderColor($pFormBorderColor){
	border: 1px solid $pFormBorderColor;
}

form{
	margin: 1rem;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='color'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='datetime'],
input[type='range'],
input[type='datetime-local'],
input:not([type]),
textarea,
select{

	display: block;
	width: 100%;
	height: 2.5rem;
	appearance: none;
	background-color: transparent;
	border: 1px solid darken($color-gray, 10%);
	color: black;
	@include border-radius;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
	box-shadow: none; 
	font-size: 1rem;
	padding: .5rem .7rem;
	margin-bottom: 1rem;

	&:focus{
		outline: 0;
		border: 0.1rem solid darken($color-gray, 40%);
	}

	&:disabled{
		background-color: $color-gray;
		color: $color-gray-dark;
		cursor: not-allowed;
	}

	&.ms-rounded{
		border-radius: 10em;
	}

	&.ms-small{
		height: 2rem;
	}

	&.ms-large{
		height: 3rem;
	}

	&.ms-green{
		@include formBorderColor($color-green);
		&:focus{
			@include single-box-shadow($blur: 5px, $color: $color-green);
		}
	}

	&.ms-red{
		@include formBorderColor($color-red);
		&:focus{
			@include single-box-shadow($blur: 5px, $color: $color-red);
		}
	}

	&.ms-blue{
		@include formBorderColor($color-blue);
		&:focus{
			@include single-box-shadow($blur: 5px, $color: $color-blue);
		}
	}

	&.ms-yellow{
		@include formBorderColor($color-yellow);
		&:focus{
			@include single-box-shadow($blur: 5px, $color: $color-yellow);
		}
	}

}

input[type='checkbox'],
input[type='radio']{
	display: inline;
}

select[multiple]{
	&.ms-select-multiple{
		min-height: 7rem;
	}
}

textarea{
	min-height: 6rem;
}

label,
legend{
	display: inline-block;
	margin-bottom: .5rem;
	font-size: 1rem;
}

.ms-form-text{
	display: block;
	line-height: 0.1rem;
	color: $color-gray-font;
	font-size: 0.9rem;
	margin: 0 0 10px 0;
	padding: 0;
}