/* VARIABLES */
html{
  --default-bg: $default-bg;
  --default-font-color: $default-font-color;
}

html[data-theme='dark'] {
  --default-bg: $default-bg-dark-lighter;
  --default-font-color: $default-font-color-dark;
}

* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

html {
	box-sizing: border-box;
}

body{
	background-color: var(--default-bg);
	color: var(--default-font-color);
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

b,strong{
	font-weight: bold;
}

a{
	color: $color-blue-1;
}

p{
	display: block;
	font-size: 1rem;
	line-height: 1.3rem;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
