/* 
	Inspired by grafikart.fr
	https://www.grafikart.fr/tutoriels/html-css/grille-responsive-css-498
*/

$columns: 12!default;
$gutter: 2%!default;
$medium: 640px!default;
$large: 1024px!default;
$large-width-grid: 1140px!default;

.container{
	max-width: $large-width-grid;
	margin: 0 auto;
}

@mixin responsive-columns($suffix: ''){
    @for $i from 0 through $columns{
        @if $i != 0 {
            .col#{$suffix}-#{$i}{ width:$i / $columns * 100%;}

        }

        .col#{$suffix}-center{ margin: 0 auto; float: none; }
        .col#{$suffix}-offset-#{$i}{ margin-left:$i / $columns * 100%; }
    }
}

%col{
    float: left;
    position: relative;
    min-height: 1px;
    padding:0 $gutter * 0.5;

    &.no-padding{
		padding: 0;
	}
}

.row{
    margin: 0.5rem 0;
    @include clearfix;

    &.no-margin{
        margin: 0;
    }
}

@for $i from 1 through $columns{
    .col-s-#{$i}, .col-m-#{$i}, .col-l-#{$i}{ @extend %col; }
}

.m-show{ display: none; }
.l-show{ display: none; }

@include responsive-columns('-s');

@media only screen and (min-width: $medium) {
    @include responsive-columns('-m');
    .m-hide{ display: none; }
    .m-show{ display: block; }
    .s-show{ display: none; }
}

@media only screen and (min-width: $large) {
    @include responsive-columns('-l');
    .l-hide{ display: none; }
    .l-show{ display: block; }
    .m-show{ display: none; }
}

