$columns-grid: 12;
$large-width-grid: 1140px;
$medium-width-grid: 9px;
$small-width-grid: 576px;
$width-grid: 100%;

.container{
	max-width: $large-width-grid;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}


@mixin grid-col($grid-letter){
	@for $i from 1 to $columns-grid + 1{
		.col-#{$grid-letter}-#{$i}{
			float:left;
			width: $i * $width-grid/ $columns-grid;
			min-height: 1px;
		}
	}

	&.col-#{$grid-letter}-center{
		margin: 0 auto;
		float:none;
	}
}


@include grid-col(s);

@media only screen and (min-width: $medium-width-grid){
	@include grid-col(m);
}

@media only screen and (min-width: $large-width-grid){
	@include grid-col(l);
}


