@mixin colorHeading($pHighlightedHeanding){
	color: $pHighlightedHeanding;
}

h1,.ms-h1{
	font-size: 3.1rem;
}

h2,.ms-h2{
	font-size: 2.8rem;
}

h3,.ms-h3{
	font-size: 2.5rem;
}

h4,.ms-h4{
	font-size: 2.2rem;
}

h5,.ms-h5{
	font-size: 1.9rem;
}

h6,.ms-h6{
	font-size: 1.6rem;
}
