@mixin highlightedHeanding($pHighlightedHeanding){
	border-bottom: 0.2rem solid $pHighlightedHeanding;
}

h1,h2,h3,h4,h5,h6{

	&.ms-highlighted{
		@include highlightedHeanding(darken($color-gray, 15%));

		&.ms-red{
			@include highlightedHeanding($color-error);
		}

		&.ms-green{
			@include highlightedHeanding($color-success);
		}

		&.ms-blue{
			@include highlightedHeanding($color-info);
		}
	}
}

h1{
	font-size: 3rem;
}

h2{
	font-size: 2.7rem;
}

h3{
	font-size: 2.4rem;
}

h4{
	font-size: 2.1rem;
}

h5{
	font-size: 1.8rem;
}

h6{
	font-size: 1.5rem;
}