/* VARIABLES */
html{
  --label-bg: $default-bg;
  --label-font-color: $color-gray-3;
  --label-border-color: $color-gray-1;
}

html[data-theme='dark'] {
  --label-bg: $default-bg-dark;
  --label-font-color: $default-font-color-dark;
  --label-border-color: $default-bg-dark-lighter;
}

/* MIXINS */
@mixin label($textColor,$primaryColor){
	background-color: $primaryColor;
	color: $textColor;
	border-color: transparent;
}

@mixin label-outline($textColor,$primaryColor,$percentage){
	background-color: rgba($primaryColor,0.15);
	color: $textColor;
	border-color: rgba($primaryColor,0.35);
}

@mixin color-label{
	&.ms-info{
		@include label(#ffffff, $color-blue-1);
	}
	
	&.ms-success{
		@include label(#ffffff, $color-green-1);
	}
	
	&.ms-danger{
		@include label(#ffffff, $color-red-1);
	}
	
	&.ms-warning{
		@include label(#000000, $color-yellow-1);
	}
}

@mixin color-outline-label{
	&.ms-outline-info{
		@include label-outline($color-blue-3,$color-blue-1,95);
	}
	
	&.ms-outline-success{
		@include label-outline($color-green-3,$color-green-1,95);
	}
	
	&.ms-outline-danger{
		@include label-outline($color-red-3,$color-red-1,95);
	}
	
	&.ms-outline-warning{
		@include label-outline($color-yellow-3,$color-yellow-1,95);
	}
}

/* BASE */
.ms-label{
	background-color: var(--label-bg);
	border: 1px solid var(--label-border-color);
	color: var(--label-font-color);
	font-size: 0.9rem;
	margin-right: 0.1rem;
	padding: 0.1rem 0.3rem;
	@include border-radius($default-border-radius);
	
	/* COLORS */
	@include color-label;
	@include color-outline-label;
	
	/* SIZES */
	&.ms-small{
		padding: 0 0.1rem;
		font-size: 0.9rem;
	}
	
	&.ms-medium{
		padding: 0.2rem 0.4rem;
		font-size: 1rem;
	}
	
	&.ms-large{
		padding: 0.3rem 0.6rem;
		font-size: 1rem;
	}
	
	/* GLOBAL */
	&.ms-rounded{
		@include border-radius(100rem);
	}
}