/* MIXINS */
@mixin label($textColor,$primaryColor) {
	background-color: $primaryColor;
	color: $textColor;
	border-color: transparent;
}

@mixin color-label {
	&.ms-info{
		@include label(#ffffff, $color-blue-1);
	}
	
	&.ms-success{
		@include label(#ffffff, $color-green-1);
	}
	
	&.ms-danger{
		@include label(#ffffff, $color-red-1);
	}
	
	&.ms-warning{
		@include label(#000000, $color-yellow-1);
	}
}

/* BASE LABEL*/
.ms-label{
	background-color: #ffffff;
	border: 1px solid $color-gray-1;
	color: $color-dark-1;
	font-size: 1rem;
	margin-right: 0.1rem;
	padding: 0.2rem 0.4rem;
	@include border-radius($default-border-radius);
	
	/* COLORS */
	@include color-label;
	
	/* SIZES */
	&.ms-small{
		padding: 0.1rem 0.2rem;
		font-size: 0.9rem;
	}
	
	&.ms-medium{
		padding: 0.4rem 0.6rem;
		font-size: 1.1rem;
	}
	
	&.ms-large{
		padding: 0.6rem 0.8rem;
		font-size: 1.2rem;
	}
	
	/* GLOBAL */
	&.ms-rounded{
		@include border-radius(100px);
	}
}