@mixin borderColorList($pBorderColorList){
	border-left: 2px solid $pBorderColorList;
}

ul,ol,dl{
    list-style: circle inside;
    margin: 1rem;

    &.ms-none{
    	list-style: none;
    }

    &.ms-border{
    	list-style: none;
		border-left: 2px solid $color-gray;
		padding-left: 0.5rem;

		&.ms-red{
			@include borderColorList($color-error);
		}

		&.ms-green{
			@include borderColorList($color-success);
		}

		&.ms-blue{
			@include borderColorList($color-info);
		}
    }

    &.ms-boxed{
    	list-style: none;
		border: 1px solid lighten($color-gray-dark, 20%);
		@include border-radius;

		& li, dt, dd{
			padding: 0.7rem;
			margin: 0;
			border-bottom: 1px solid lighten($color-gray-dark, 20%);
		}

		li:last-of-type {
  			border: none;
		}
    }

    & li, dt, dd{
    	margin-bottom: 0.4em;

    	&.ms-active{
    		background-color: $color-info;
    		color: lighten($color-info, 80%);
    		@include border-radius;
    		padding: 0.7rem;
    	}
    }
}