ul.ms-list,
ol.ms-list,
dl.ms-list{
    list-style: circle inside;
    margin: 0.6rem;

    &.ms-boxed{
    	list-style: none;
		border: 1px solid $color-gray-medium;
		@include border-radius;

		& li, dt, dd{
			padding: 0.7rem;
			margin: 0;
			border-bottom: 1px solid $color-gray-medium;
		}

		li:last-of-type {
  			border: none;
		}
    }

    &.ms-border{
    	list-style: none;
		border-bottom: 1px solid $color-gray-medium;

		& li, dt, dd{
			padding: 0.7rem 0.2rem;
			margin: 0;
			border-bottom: 1px solid $color-gray-medium;
		}

		li:last-of-type {
  			border: none;
		}
    }

    & li, dt, dd{
    	margin: 0.6em 0;

    	&.ms-active{
    		background-color: $color-gray;
    		@include border-radius;
    	}
    }

    &.ms-list-none{
    	list-style: none;
    }
}
