.ms-menu{
	display: flex;
	margin: 1rem 0;
	white-space: nowrap;

	nav,
	.ms-nav{
		list-style: none;

		li{
			float: left;
			margin: 0 0.5rem;

			a{
				text-decoration: none;
				padding: 0.5rem;
				color: #000;
			}
		}
	}
}
