@mixin menuColor($pMenuColor){
	a:hover{
		background-color: $pMenuColor;
		color: #fff;
		@include border-radius;
	}

	a:focus{
		background-color: $pMenuColor;
		color: #fff;
		@include border-radius;
	}

	a.ms-active{
		background-color: $pMenuColor;
		color: #fff;
		@include border-radius;
	}
}

.ms-menu{
	display: flex;
	margin: 1rem 0;
	white-space: nowrap;

	nav,
	.ms-nav{
		list-style: none;

		li{
			float: left;
			margin: 0 0.5rem;

			a{
				text-decoration: none;
				padding: 0.5rem;
				color: #000;

				&.ms-active{
					background-color: $color-gray;
					@include border-radius;
				}
			}
		}
	}

	&.ms-gray{
		a:hover{
			background-color: $color-gray;
			@include border-radius;
			color: #000;
		}

		a:focus{
			background-color: $color-gray;
			@include border-radius;
		}
	}

	&.ms-blue{
		@include menuColor($color-info);
	}

	&.ms-green{
		@include menuColor($color-success);
	}

	&.ms-red{
		@include menuColor($color-error);
	}
}
