/* VARIABLES */
html{
  --pagination-bg: $default-bg-darker;
  --pagination-font-color: $color-gray-3;
  --pagination-border-color: $color-gray-1;
}

html[data-theme='dark'] {
  --pagination-bg: $default-bg-dark;
  --pagination-font-color: $default-font-color-dark;
  --pagination-border-color: $default-bg-dark-lighter;
}

/* BASE */
.ms-pagination{

	margin: 1rem 0;

	ul{
		list-style: none;
		display: flex;
		margin: 0;

		li{
			list-style: none;
			margin: 0;

			a{
				padding: 0.5rem;
				text-decoration: none;
				color: var(--pagination-font-color);
				@include border-radius($default-border-radius);

				&.ms-active{
					color: #fff;
					background-color: $color-blue-1;

					&:hover{
						background-color: $color-blue-2;
					}

					&:active{
						background-color: $color-blue-3;
					}
				}

				&.ms-disabled{
					cursor: default;
					pointer-events: none;
					color: tint($color-dark-1,20);
				}

				&:hover{
					background-color: var(--pagination-bg);
				}

				&:active{
					background-color: var(--pagination-bg);
				}
			}

			span{
				padding: 0.5rem;
				color: $color-gray-2;
			}
		}
	}

	&.ms-border{
		ul{
			li{
				margin-right: -1px;

				&:first-child a{
					border-top-left-radius: $default-border-radius;
					border-bottom-left-radius: $default-border-radius;
				}

				&:last-child a{
					border-top-right-radius: $default-border-radius;
					border-bottom-right-radius: $default-border-radius;
				}

				a{
					border: 1px solid $color-gray-1;
					@include border-radius(0);

					&.ms-active{
						border-color: $color-blue-1;
					}
				}

				span{
					border: 1px solid $color-gray-1;
				}
			}
		}
	}
}