.ms-progress{
	width: 100%;
	height: 1.3rem;
	display: flex;
	background-color: $color-gray;
	@include border-radius;
	overflow: hidden;
	text-align: center;
	margin: 1rem 0;

	.ms-progress-fill{
		height: 1.3rem;
		background-color: $color-gray-font;
		white-space: nowrap;
		font-size: .75rem;
		text-align: center;
		line-height: 1.3rem;
		color: #fff;
		text-align: center;
		font-weight: bold;

		&.ms-blue{
			background-color: $color-blue;
		}

		&.ms-green{
			background-color: $color-green;
		}

		&.ms-red{
			background-color: $color-red;
		}

		&.ms-yellow{
			background-color: $color-yellow;
		}

		&.ms-gradient{
			@include background-image(linear-gradient(to left top, #2193b0, #6dd5ed));
		}

		&.ms-striped{
			background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
			background-size: 1rem 1rem;
		}

		&.ms-rounded{
			@include border-radius;
		}
	}

	&.ms-small{
		height: 1rem;

		.ms-progress-fill{
			height: 1rem;
			line-height: 1rem;
		}
	}

	&.ms-large{
		height: 1.6rem;

		.ms-progress-fill{
			height: 1.7rem;
			line-height: 1.7rem;
		}
	}

	&.ms-rounded{
		border-radius: 10rem;

		.ms-rounded{
			border-radius: 10rem;
		}
	}
}