/* VARIABLES */
html{
  --progress-bg: $default-bg-darker;
  --progress-bg-fill: $color-gray-3;
}

html[data-theme='dark'] {
  --progress-bg: $default-bg-dark;
  --progress-bg-fill: $color-gray-3;
}

/* BASE */
progress,
.ms-progress{
	width: 100%;
	height: 1.3rem;
	display: flex;
	background-color: var(--progress-bg);
	text-align: center;
	overflow: hidden;
	margin: $default-margin;
	@include border-radius(4px);
	
	.ms-progress-fill{
		height: 1.3rem;
		background-color: var(--progress-bg-fill);
		font-size: 0.75rem;
		text-align: center;
		font-weight: bold;
		line-height: 1.3rem;
		color: #fff;
		
		/* COLORS */
		&.ms-info{
			background-color: $color-blue-1;
		}
		
		&.ms-success{
			background-color: $color-green-1;
		}
		
		&.ms-danger{
			background-color: $color-red-1;
		}
		
		&.ms-warning{
			background-color: $color-yellow-1;
		}
	}
	
	/* SIZES */
	&.ms-medium{
		height: 1.7rem;
		
		.ms-progress-fill{
			height: 1.7rem;
			line-height: 1.7rem;
		}
	}
	
	&.ms-large{
		height: 2rem;
		
		.ms-progress-fill{
			height: 2rem;
			line-height: 2rem;
		}
	}
	
	/* GLOBAL */
	&.ms-rounded{
		@include border-radius(50rem);
		
		.ms-rounded{
			@include border-radius(50rem);
		}
	}
}
