table,
.ms-table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: 1rem;

	thead {
		text-align: left;
		border-bottom: 3px solid rgba(var(--alert-bg-color), 0.1);
	}

	td,
	th {
		padding: 0.8rem 0.4rem;
		border-bottom: 2px solid rgba(var(--alert-bg-color), 0.1);
	}

	th {
		font-weight: bold;
	}

	&.ms-striped {
		td,
		th {
			border: none;
		}

		tbody {
			tr:nth-of-type(odd) {
				background: rgba(var(--alert-bg-color), 0.05);
			}
		}
	}
}
