@mixin tableBgColor($pTableBgColor){
	background-color: $pTableBgColor;
	color: #fff;
	border-bottom: none;
}

table{
	width: 100%;
	border-spacing: 0;
	margin: 1rem 0;

	&.ms-boxed{
    	border: 1px solid $color-gray-medium;

    	&.ms-triped{
    		td,
			th{
				border: 1px solid $color-gray-medium;
			}
    	}
	}
}

tr{
	&.ms-title{
		td,
		th{
			font-weight: bold;
			border-bottom: 3px solid $color-gray-medium;
		}
	}

	&.ms-gray{
		background-color: $color-gray;
	}

	&.ms-blue{
		@include tableBgColor($color-blue);
	}

	&.ms-red{
		@include tableBgColor($color-red);
	}

	&.ms-green{
		@include tableBgColor($color-green);
	}

	&.ms-yellow{
		@include tableBgColor($color-yellow);
	}

	td,
	th{
		border-bottom: .1rem solid darken($color-gray, 10%);
		padding: 1.0rem;
		text-align: left;
	}
}

