
@for $i from 1 through 9{

	.ms-text-size-#{$i}{
		font-size: #{$i}rem;
	}
}

@for $i from 1 through 9{

	&.ms-fw-#{$i}00{
		font-weight: #{$i}00;

	}
}

.ms-text-blue{
	color: $color-blue;
}
.ms-text-red{
	color: $color-red;
}
.ms-text-green{
	color: $color-green;
}
.ms-text-gray-font{
	color: $color-gray-font;
}
.ms-text-yellow{
	color: $color-yellow;
}
.ms-text-white{
	color: #fff;
}

.ms-text-center{
	text-align:center;
}
.ms-text-right{
	text-align:right;
}
.ms-text-left{
	text-align:left;
}
