
/* SIZES */
@for $i from 1 through 9{

	.ms-text-size-#{$i}{
		font-size: #{$i}rem;
	}
}

@for $i from 1 through 9{

	&.ms-fw-#{$i}00{
		font-weight: #{$i}00;

	}
}

/* COLORS */
.ms-text-info{
	color: $color-blue-1;
}
.ms-text-danger{
	color: $color-red-1;
}
.ms-text-success{
	color: $color-green-1;
}
.ms-text-warning{
	color: $color-yellow-1;
}
.ms-text-white{
	color: #fff;
}

/* POSITIONS */
.ms-text-center{
	text-align: center;
}
.ms-text-right{
	text-align: right;
}
.ms-text-left{
	text-align: left;
}
