/* MIXINS */
@mixin mark($textColor,$primaryColor) {
	background-color: $primaryColor;
	color: $textColor;
}

/* TITLES */
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
	font-weight: 500;
}
h1,.h1 {
  font-size: 2.2rem;
}
h2,.h2 {
  font-size: 2rem;
}
h3,.h3 {
  font-size: 1.8rem;
}
h4,.h4 {
  font-size: 1.6rem;
}
h5,.h5 {
  font-size: 1.4rem;
}
h6,.h6 {
  font-size: 1.2rem;
}

/* COLORS */
.ms-text-info{
	color: $color-blue-1;
}
.ms-text-danger{
	color: $color-red-1;
}
.ms-text-success{
	color: $color-green-1;
}
.ms-text-warning{
	color: $color-yellow-1;
}
.ms-text-gray{
	color: $color-gray-2;
}
.ms-text-white{
	color: #ffffff;
}
.ms-text-black{
	color: #000000;
}

/* POSITIONS */
.ms-text-center{
	text-align: center;
}
.ms-text-right{
	text-align: right;
}
.ms-text-left{
	text-align: left;
}

/* MARK */
 mark,.ms-mark{
	background-color: $color-yellow-1;
	padding: 0.1rem 0.15rem;
	@include border-radius(3px);

	&.ms-info{
		@include mark(#ffffff, $color-blue-1);
	}

	&.ms-success{
		@include mark(#ffffff, $color-green-1);
	}

	&.ms-danger{
		@include mark(#ffffff, $color-red-1);
	}
}

/* CODE */
code,.ms-code{
	background-color: tint($color-red-1, 92);
	color: $color-red-1;
	font-size: 90%;
	font-family: Courier, monospace;
	padding: 0.1rem 0.15rem;
	@include border-radius(3px);
}

/* TERMINAL */
terminal,.ms-terminal{
	background-color: $color-dark-1;
	color: #ffffff;
	font-size: 90%;
	font-family: Courier, monospace;
	padding: 0.2rem 0.2rem;
	@include border-radius(3px);
}
