/* MIXINS */
@mixin mark($textColor,$primaryColor) {
	background-color: $primaryColor;
	color: $textColor;
}

/* TITLES */
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
	font-weight: 500;
}
h1,.h1 {
  font-size: 2.2rem;
}
h2,.h2 {
  font-size: 2rem;
}
h3,.h3 {
  font-size: 1.8rem;
}
h4,.h4 {
  font-size: 1.6rem;
}
h5,.h5 {
  font-size: 1.4rem;
}
h6,.h6 {
  font-size: 1.2rem;
}

/* COLORS */
.ms-text-info{
	color: $color-blue-1;
}
.ms-text-danger{
	color: $color-red-1;
}
.ms-text-success{
	color: $color-green-1;
}
.ms-text-warning{
	color: $color-yellow-1;
}
.ms-text-gray{
	color: $color-gray-2;
}
.ms-text-white{
	color: #ffffff;
}
.ms-text-black{
	color: #000000;
}

/* POSITIONS */
.ms-text-center{
	text-align: center;
}
.ms-text-right{
	text-align: right;
}
.ms-text-left{
	text-align: left;
}
.ms-text-justify{
	text-align: justify;
}
/* MARK */
 mark,.ms-mark{
	background-color: #ffe9b3;
	border-bottom: .05rem solid #ffd367;
	padding: 0.1rem 0.2rem;
	@include border-radius($default-border-radius);
}

/* CODE */
code,.ms-code{
	background-color: tint($color-red-1, 92);
	color: $color-red-1;
	font-size: 90%;
	font-family: Courier, monospace;
	padding: 0.1rem 0.2rem;
	@include border-radius($default-border-radius);
}

/* TERMINAL */
kbd,.ms-kbd{
	background-color: $color-dark-1;
	color: #ffffff;
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	padding: 0.2rem 0.2rem;
	@include border-radius($default-border-radius);
}

/* SEMENTIC */
del,s{
	text-decoration: line-through;
}

ins,u{
	text-decoration: underline;
}

small{
	font-size: 80%;
}

b,strong{
	font-weight: bold;
}

i,cite{
	font-style: italic;
}

pre i, pre cite{
	font-style: normal;
}

sup{
	font-size: 75%;
	position: relative;
	line-height: 0;
	vertical-align: baseline;
	top: -0.4rem;
}

sub{
	font-size: 75%;
	position: relative;
	line-height: 0;
	vertical-align: baseline;
	bottom: -0.20rem;
}

/* LIST */
ul,
ol {
  margin: 0.5rem 0 1rem 0.5rem;
  padding: 0;

  ul,
  ol {
    margin: 1rem;
  }

  li {
    margin-top: 1rem;
  }
}

ul {
  list-style: disc inside;

  ul {
    list-style-type: circle;
  }
}

ol {
  list-style: decimal inside;

  ol {
    list-style-type: lower-alpha;
  }
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin: 1rem;
  }
}

/* BLOCKQUOTE */
blockquote, .ms-blockquote{
	border-left: 2px solid $color-gray-1;
	color: $color-gray-3;
	margin-bottom: 1rem;
	padding: 1rem;

	p{
		margin: 0 0 0 0;
	}

	&.ms-center{
		text-align: center;
	}

	&.ms-info{
		border-color: $color-blue-1;
	}

	&.ms-success{
		border-color: $color-green-1;
	}

	&.ms-error{
		border-color: $color-red-1;
	}

	&.ms-warning{
		border-color: $color-yellow-1;
	}
}

/* HR */
hr{
	width: 100%;
	height: 1px;
	background-color: rgba(0,0,0,0.1);
	border: none;
	margin: 1rem 0;
}