/* VARIABLES */
html{
  --user-bg: $default-bg;
  --user-border-color: $default-bg-darker;
  --user-font-color: $default-font-color;
}

html[data-theme='dark'] {
  --user-bg: $default-bg-dark-lighter;
  --user-border-color: $default-bg-dark;
  --user-font-color: $default-font-color-dark;
}

/* BASE */
.ms-user{
	width: 100%;
	background-color: var(--user-bg);
	border: 1px solid var(--user-border-color);
	color: var(--user-font-color);
	overflow: auto;
	position: relative;
	box-sizing: border-box;
	padding: 1rem;
	@include border-radius($default-border-radius);

	.ms-avatar{
		margin: 0 auto;
	}

	.ms-user-info{
		text-align: center;
		margin: 0 auto;
		margin-top: 1rem;

		p {
			color: var(--user-font-color);
			line-height: 1.3rem;
			margin-block-start: 0;
			margin-block-end: 0;
			margin-inline-start: 0;
			margin-inline-end: 0;
		}
	}

	.ms-user-content{
		color: var(--user-font-color);
		box-sizing: border-box;
		margin: 0 auto;
		margin-top: 1rem;
	}

	.ms-user-pined{
		position: absolute;
		top: 0.3rem;
		right: 0.5rem;
	}

	&.ms-compact{
		.ms-avatar{
			float: left;
			margin: 0;
		}

		.ms-user-info{
			float: left;
			text-align: left;
			margin: 0;
			margin-left: 1rem;
		}

		.ms-user-content{
			float: left;
			width: 100%;
			margin-top: 1rem;
		}
	}

	&.ms-borderless{
		border: none;
	}

	&.ms-background{
		background-color: var(--user-border-color);
	}
}
