.ms-float-left{
	float: left;
}

.ms-float-right{
	float: right;
}

.ms-clearfix{
	@include clearfix
}

.ms-none{
	display: none;
}

.ms-block{
	display: block;
}

.ms-block-inline{
	display: block-inline;
}

.ms-shadow{
	@include single-box-shadow($blur: 15px, $color: rgba(black, 0.3));
}