/*
* minstyle.io - A simple CSS Framework !
* Repo : https://github.com/Airmime/minstyle.io
* Version : v2.0.1
* Website : https://minstyle.io/
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--main-bg: 255, 255, 255;
	--main-text-color: 25, 25, 25;
	--light-text-color: 190, 190, 190;

	--default-bg-color: 40, 40, 40;
	--ligth-bg-color: 242, 242, 242;
	--default-border-color: 230, 230, 230;

	--primary-bg-color: 250, 77, 96;
	--secondary-bg-color: 70, 140, 180;
	--action-bg-color: 65, 83, 155;
	--action2-bg-color: 243, 128, 38;

	--default-border-radius: 0.5rem;
}

html[data-theme="dark"] {
	--main-bg: 37, 40, 44;
	--main-text-color: 255, 255, 255;

	--ligth-bg-color: 46, 49, 54;
	--default-border-color: 55, 58, 63;

	--default-bg-color: 243, 243, 243;
}

* {
	box-sizing: border-box
}
*:before,
*:after {
	box-sizing: border-box
}

html {
	box-sizing: border-box;
}

html,
body {
	background-color: rgba(var(--main-bg), 1);
	color: rgba(var(--main-text-color), 1);
	font-family: Inter, sans-serif;
	text-rendering: optimizeLegibility;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

p {
	font-family: Inter, sans-serif;
	text-rendering: optimizeLegibility;
	font-size: 1rem;
	line-height: 1.5em;
}

a {
	color: rgba(var(--primary-bg-color), 1);
	text-decoration: none;
}

@import "elements/_alert";
@import "components/_article";
@import "components/_avatar";
@import "elements/_breadcrumb";
@import "components/_browser";
@import "elements/_button";
@import "components/_card";
@import "elements/_dropdown";
@import "layout/_footer";
@import "contents/_form";
@import "layout/_grid";
@import "helpers/_helper";
@import "components/_hero";
@import "elements/_label";
@import "elements/_loading";
@import "components/_menu";
@import "elements/_pagination";
@import "elements/_progressbar";
@import "components/_tab";
@import "contents/_table";
@import "contents/_typography";
@import "components/_user";
