.ms-tab {
	width: 100%;
	box-sizing: border-box;
	border-bottom: 2px solid rgba(var(--default-border-color), 1);
	margin: 0;
	padding: 0;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			list-style: none;
			margin: 0;
			padding: 0;

			a {
				display: block;
				font-size: 1rem;
				color: rgba(var(--default-text-color), 0.1);
				text-decoration: none;
				margin: 0;
				padding: 1rem;
				border-bottom: 2px solid transparent;

				&:hover {
					border-bottom: 4px solid rgba(var(--default-border-color), 1);
				}

				&.ms-active {
					border-bottom: 4px solid rgba(var(--default-border-color), 1);
				}
			}

			&.ms-logo {
				img {
					max-height: 30px;
					vertical-align: bottom;
				}

				a {
					&:hover {
						border-bottom: none;
					}
				}
			}
		}
	}

	&.ms-fullwidth {
		ul {
			display: flex;
			flex-wrap: wrap;

			li {
				overflow: hidden;
				text-align: center;
				flex: 1;

				a {
					width: 100%;
				}
			}
		}
	}
}
